#main{
    background-color: #D3E3FC;
}
#comments{
    width: 100%;
    height: 250px
}
.responselabels{
    color: #3694FF;
    font-weight: bold;

}
.spacer{
    height: 100px;
    background-color: #D3E3FC;
}
.responselabels input[type = checkbox]{
    width: 10px;
    height: 10px;
    border-radius: 25%;
    visibility: visible;
}
