#main{
    font-family: 'Commissioner', sans-serif;
    background-color: #D3E3FC;
    color: #00887A;
}
#main h1{
    margin-top:25px;
}
#sendbutton{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #00887A;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
#sendbutton:active {
  background-color: #02776c;
}
#comments{
    width: 100%;
    height: 250px
}
#main .responselabels{
    color: #00887A;
    font-weight: bold;
}
#main .spacer{
    height: 100px;
    width: 110%;
    margin-left: 0;
    padding-left: 0;
    background-image: linear-gradient(#D3E3FC,#77A6F7);
}
#main input[type = checkbox]{
    width: 10px;
    height: 10px;
    visibility: visible;
}
