
/*Dark Mode Variables DO NOT MOVE OR USE UNIVERSAL.CSS*/
html{
    scroll-behavior: smooth;
    --bg:#D3E3FC;
    --navbar:rgba(0, 0, 0, 0);
    --heading-color:#54575a;
    --text-color:black;
    --main-color: #FFCCBC;
    --button-color:#00887A;
    --heading3-color:#54575a;
}

html[data-theme='dark'] {
    --bg:#121212;
    --navbar:#121212;
    --heading-color:#ACDBDF;
    --text-color:#F0ECE2;
    --main-color: #121212;
    --button-color:#496149;
    --spacer-color:#121212;
    --headingbb-color: #ACDBDF;
    --heading3-color:#ACDBDF;
}


#nav-bar{
  background:var(--navbar);
}

#nav-bar ul li a:hover
{
    color: var(--text-color)!important;
}

.nav-link
{
    color: var(--text-color)!important;
}




#main{
    font-family: Commissioner, sans-serif;
    background: var(--bg);
    color: var(--heading3-color);
}
#main h1{
    margin-top:25px;
    font-family: Commissioner, sans-serif;
}
#sendbutton{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--button-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
}
#sendbutton:active {
  background-color: #02776c;
}
#comments{
    width: 100%;
    height: 250px
}
#main .responselabels{
    color: var(--heading-color);
    font-weight: 300;
}
#main .spacer{
    height: 105px;
    width: 101%;
    margin-left: 0;
    padding-left: 0;
    background-image: var(--spacer-color);
}
#main input[type = checkbox]{
    width: 10px;
    height: 10px;
    visibility: visible;
}

.heading {
  color:var(--heading-color);

}

#text {
  color:var(--text-color);
}

#head {
  font-weight:bolder;
}
