#tripito{
    font-size: 32px;
    color: orange;
    padding-bottom: 0;
    margin-bottom: 0;
}
#tripitoheader{
    text-align:center;
    color:orange;
    font-family: 'Delius Unicase';
    font-size: 50px;
}

#imagelinks a{
    font-size: 20px;
    color: BLUE;
    text-decoration: none;

}
#imagelinks a:hover{
    font-size: 32px;
    color: BLUE;
    text-decoration: none;

}
#imagelinks a:visited{
    font-size: 20px;
    color: BLUE;
    text-decoration: none;

}
#imagelinks a:link{
    font-size: 20px;
    color: BLUE;
    text-decoration: none;
}
