*
{
  margin: 0;
}

/*DARK MODE*/
html{
    scroll-behavior: smooth;
    --bg:#D3E3FC;
    --navbar:rgba(0, 0, 0, 0);
    --heading-color: black;
    --text-color:black;
    --features-color: #FFCCBC;
    --featureswrapper-color:white;
    --btn-color:#00887A;
}

html[data-theme='dark'] {
    --bg:#121212;
    --navbar:#121212;
    --heading-color:#ACDBDF;
    --text-color:#F0ECE2;
    --features-color: #121212;
    --featureswrapper-color:#121212;
    --btn-color:#496149;
}

/*NAVBAR*/
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 6;
  background:var(--navbar);

}
.navbar-brand img
{
  height: 77px;
  padding-left: 47px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: var(--text-color)!important;
}
.navbar
{
  background: rgba(0, 0, 0, 0);
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: var(--text-color)!important;
}

/*DARK MODE SWITCH*/
.switch-box{
}
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: lightblue;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  background: white;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #0d7377;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.title-wrapper {
  display:flex;
  flex-direction:column;
  background: var(--bg);
  height:89vh;
}

#travelImg{
  max-width:18%;
  height:auto;
  margin:auto;
}

#planImg{
  max-width:80%;
  height:auto;
  border-radius:5px;
  margin-top:8%;
  margin-left:5%;
}

#meetImg{
  max-width:80%;
  height:auto;
  margin-top:8%;
  border-radius:5px;
  margin-left:10%;

}

#txtImg{
  max-width:70%;
  height:auto;
  margin-top:8%;
  border-radius:5px;
  margin-left:15%;

}

#safeImg{
  max-width:80%;
  height:auto;
  margin-top:8%;
  border-radius:5px;
  margin-left:10%;
}

#main-heading {
  font-family: Commissioner, sans-serif;
  margin:auto;
  margin-top:10%;
  font-size: 4rem;
  font-weight: bolder;
  color:var(--heading-color);
}

#heading {
  color:var(--heading-color);
  margin:auto;
  font-family: Commissioner, sans-serif;
  font-size:2.6rem;
  font-weight:bold;
}

#descr {
  text-align:center;
  font-size:20px;
  padding-top:2%;
  padding-left:20%;
  padding-right:20%;
}

.heading-wrapper {
  margin:auto;
  font-family: 'Commissioner', sans-serif;
  font-weight:300;
}

.features-wrapper{
  display:flex;
  flex-direction:column;
  background:var(--featureswrapper-color);
  font-size: 20px;
  padding-top:5%;
  color:var(--text-color);
}

.featureTitle {
  color:var(--heading-color);
  font-family: 'Commissioner', sans-serif;
  font-size:2rem;
  font-weight:bold;
  padding-bottom:1%;
}

#line {
    margin-right:10%;
    margin-left:10%;
    overflow: hidden;
    border-style: inset;
    margin-top:3%;
    border-width: 1px;
}
.feature1 {
  display:flex;
  flex-direction:row;
  font-family: 'Commissioner', sans-serif;
  font-weight:300;
  background:var(--main-color);
  margin-top:8%;
  font-size: 20px;
}

#f1a {
  flex:1;
}

#f1b {
  flex:1;
}

#f1Title {
  padding-left:10%;
}

.feature2 {
  display:flex;
  flex-direction:row;
  font-family: 'Commissioner', sans-serif;
  font-weight:300;
  background:var(--main-color);
  font-size: 20px;
  padding-top:5%;
}

#f2a {
  flex:1;
}

#f2b {
  flex:1;
}

#f2Title {
  padding-left:5%;
  padding-right:5%;
}

#f3Title {
  padding-left:10%;
}

.feature3 {
  display:flex;
  flex-direction:row;
  font-family: 'Commissioner', sans-serif;
  font-weight:300;
  background:var(--main-color);
  font-size: 20px;
  padding-top:5%;
}

#f3a {
  flex:1;
}

#f3b {
  flex:1;
}

.feature4 {
  display:flex;
  flex-direction:row;
  font-family: 'Commissioner', sans-serif;
  font-weight:300;
  background:var(--main-color);
  font-size: 20px;
  padding-top:5%;
  padding-bottom:8%;
}

#f4a {
  flex:1;
}

#f4b {
  flex:1;
}

#f4Title {
  padding-left:5%;
  padding-right:5%;
}

.featureDescr {
  font-size: 20px;
  padding-top:0%;
  font-weight:200;
}

.featureList13 {
  list-style-image: url('Images/check.png');
  padding-left:13%;
  padding-top:5%;
  padding-right:9%;
}

.featureList24 {
  list-style-image: url('Images/check.png');
  padding-left:8%;
  padding-top:5%;
  padding-right:9%;
}

.featureLine {
}

.tryBtn13 {
  background: var(--btn-color);
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-left:40%;
  margin-top:4%;
}

.tryBtn24 {
  background: var(--btn-color);
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding:auto;
  margin-left:40%;;
  margin-top:4%;
}

.tryBtn13:active {
  background-color: #02776c;
}

.tryBtn24:active {
  background-color: #02776c;
}

.button {
  color: white;
}

.button:hover {
  text-decoration:none;
  color:white;
}
