#tripito{
    font-size: 32px;
    color: orange;
    padding-bottom: 0;
    margin-bottom: 0;
}
#tripitoheader{
    text-align:center;
    color:orange;
    font-family: 'Delius Unicase';
    font-size: 50px;
}

#imagelinks a{
    font-size: 20px;
    color: BLACK;
}
