#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar-brand img
{
    height: 77px;
    padding-left: 47px;
}

.navbar-nav li
{
    padding: 0 10px;
}
.nav-link
{
    font-family: Commissioner, sans-serif;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}

.navbar
{
    background-color: rgba(0, 0, 0, 0);
}

.navbar-toggler
{
    border: none!important;
}
