html{
    scroll-behavior: smooth;
    --bgb: white;
    --bg: #D3E3FC;
    --navbar:rgba(0, 0, 0, 0);
    --heading-color: #54575a;
    --text-color:black;
    --main-color: #FFCCBC;
    --button-color:#00887A;
    --cards-color:white;
    --headingbb-color:#54575a;
}

html[data-theme='dark'] {
    --bg:#121212;
    --bgb: #121212;
    --navbar:#121212;
    --heading-color:#ACDBDF;
    --text-color:#F0ECE2;
    --main-color: #121212;
    --button-color:#496149;
    --cards-color:#69779B;
    --headingbb-color: #ACDBDF;
}


#titlep {
  color: var(--headingbb-color);
}

.main {
  background-color:var(--bgb);
}

body {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .columnss {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .cardss {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: var(--cards-color);
  }

  .containerss {
    padding: 0 16px;
  }

  .containerss::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .titless {
    color: var(--heading-color);
  }

  .buttonss {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--button-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .buttonss:active {
    background-color: #02776c;
  }

  /*DARK MODE SWITCH*/
  .switch-box{
  }
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: lightblue;
    float: right;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    background: white;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #0d7377;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }

  .name {
    color:var(--text-color);
  }

  .title {
    color: var(--heading-color);
    font-weight:bolder;
  }

  .text {
    color:var(--text-color);
  }
